In [10]:
import pandas as pd
import numpy as np
import datetime

In [18]:
df = pd.read_csv('historical_correlation.csv')

In [19]:
df.head()

,Date,ticker,20 day trend,60 day trend,Volume,RSI,Pivotal,5 day return,20 day return,60 day return,One year return
0,1962-03-28,DIS,-0.0163,0.0075,-0.8428,0.485949,0.0,0.0068,-0.0068,-0.2561,-0.0344
1,1962-03-28,AA,0.0578,0.0823,-0.0701,-0.031907,0.8,-0.0095,-0.0663,-0.2784,-0.1798
2,1962-03-28,XOM,-0.0120,0.1180,-0.5178,-0.264889,0.0,-0.0274,0.0068,-0.0997,0.2126
3,1962-03-28,JNJ,0.0431,0.1171,-0.8664,0.201969,0.0,-0.0253,-0.0808,-0.2972,-0.1547
4,1962-03-28,KO,0.0899,-0.0112,-0.2814,-0.268108,0.0,-0.0195,-0.0104,-0.2151,-0.0053

In [20]:
df[df['Date'] > '2019-01-01'].head()

,Date,ticker,20 day trend,60 day trend,Volume,RSI,Pivotal,5 day return,20 day return,60 day return,One year return
3990225,2019-01-02,NCMI,-0.1217,-0.3390,-0.6563,0.013758,0.0,0.0713,0.0267,0.0707,0.2151
3990226,2019-01-02,ERH,-0.0803,-0.0256,0.9205,0.176566,0.0,0.0562,0.1122,0.1793,0.3392
3990227,2019-01-02,ITT,-0.1160,-0.0888,-0.5153,-0.011546,0.0,0.0353,0.0777,0.1923,0.5641
3990228,2019-01-02,NEX,-0.1810,-0.3887,-0.5076,-0.002848,0.0,0.0895,0.1721,0.2663,-0.2430
3990229,2019-01-02,VECO,-0.1438,-0.2601,-0.5432,-0.150976,0.0,0.0644,0.2625,0.3951,0.9215

In [21]:
filter_df = df[df['Date'] > '2012-01-01']

for i in ["20 day trend", "60 day trend", "Volume", "RSI", "Pivotal"]:
    for j in ["5 day return", "20 day return", "60 day return", "One year return"]:
        print(i, j, filter_df[i].corr(filter_df[j]))

20 day trend 5 day return -4.830075791410913e-05
20 day trend 20 day return -0.00020300750344180504
20 day trend 60 day return -0.0001768450809921045
20 day trend One year return -0.00044311228123732207
60 day trend 5 day return -0.00026727584267382707
60 day trend 20 day return -0.00019939596296733909
60 day trend 60 day return -6.162335076269767e-05
60 day trend One year return -0.0009285500659148832
Volume 5 day return -0.0008308368782807674
Volume 20 day return -0.0022312911472049096
Volume 60 day return -0.0013875425340326905
Volume One year return -0.0004169999654451739
RSI 5 day return 0.005771565357181375
RSI 20 day return 0.004615624124998458
RSI 60 day return 0.0054968414614547795
RSI One year return 0.002743405855017766
Pivotal 5 day return -0.0006976508701295537
Pivotal 20 day return -0.001204986937212929
Pivotal 60 day return -0.001542019252968278
Pivotal One year return -0.0012317872443474314